.navbar,
.navbar__inner,
.navbar__toggle,
.navbar-sidebar,
.navbar-sidebar__backdrop {
  display: none !important;
}

:root {
  --ifm-navbar-height: 0px !important;
}

.main-wrapper {
  padding-top: 0 !important;
  margin-top: 0 !important;
}